<link rel='stylesheet' href='/stylesheets/mobile/header.css' />
<div class="header clearfix">
    <a class="toIndex clearfix" href="/">
        <img class="logo" src="../../images/wx_cx_logo.png" alt="">
        <span class="titleName">一起剧本杀</span>
    </a>
</div>