<link rel='stylesheet' href='/stylesheets/mobile/menu.css' />
<div class="menu">
    <div class="content clearfix">
        <a class="toIndex clearfix fl" href="/">
            <img class="logo fl" src="../../images/wx_cx_logo.png" alt="">
            <div class="info fl">
                <div class="name">一起剧本杀</div>
                <div class="desc">专业评分平台</div>
            </div>
        </a>
        <div class="list fl clearfix">
            <a class="item fl active" href="/">评测小程序</a>
<!--            <a class="item fl" href="">神秘产品</a>-->
<!--            <a class="item fl" href="">关于我们</a>-->
        </div>
    </div>
</div>